flow.json
[{"id":"6e4e7309.81165c","type":"tab","label":"Google API Testing","disabled":false,"info":""},{"id":"247a7db4.488d62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c3854a8.1ec5c8","type":"subflow","name":"Startup Delay","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"9b33cb8d.70f6c8"}]}],"out":[{"x":480,"y":120,"wires":[{"id":"3b4abb08.ef19e4","port":0}]}]},{"id":"66726911.b76f98","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"REDACTED_IP","port":"REDACTED_PORT","clientid":"Node-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d92dbfd6.bd189","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true},{"id":"feb63a70.687138","type":"http request","z":"6e4e7309.81165c","name":"Karien Travel Time","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/distancematrix/json?origins=18+Forest+Drive+Lonehill&destinations=Cambridge+Commercial+Park&key={{secret}}&mode=driving","tls":"","proxy":"","x":500,"y":191,"wires":[["b794425b.97b8b","a38edac9.6852f8"]]},{"id":"39bd73db.ff4c8c","type":"inject","z":"6e4e7309.81165c","name":"","topic":"1","payload":"test","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":106,"y":245,"wires":[["c670b0d9.3c224"]]},{"id":"a38edac9.6852f8","type":"debug","z":"6e4e7309.81165c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1157,"y":236,"wires":[]},{"id":"b794425b.97b8b","type":"switch","z":"6e4e7309.81165c","name":"RAG scale","property":"payload.rows[0].elements[0].duration.text","propertyType":"msg","rules":[{"t":"lte","v":"11 mins","vt":"str"},{"t":"btwn","v":"12 mins","vt":"num","v2":"20 mins","v2t":"num"},{"t":"gt","v":"20 mins","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":709,"y":98,"wires":[["7d2760d2.febd6"],[],[]]},{"id":"7d2760d2.febd6","type":"function","z":"6e4e7309.81165c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":883,"y":117,"wires":[[]]},{"id":"d7d6cc3a.f3411","type":"switch","z":"6e4e7309.81165c","name":"RAG scale","property":"payload.rows[0].elements[0].duration.text","propertyType":"msg","rules":[{"t":"lte","v":"8 mins","vt":"str"},{"t":"btwn","v":"9 mins","vt":"num","v2":"12 mins","v2t":"num"},{"t":"gt","v":"12 mins","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":737,"y":351,"wires":[[],[],[]]},{"id":"c670b0d9.3c224","type":"secret","z":"6e4e7309.81165c","name":"Google API Key","x":307,"y":245,"wires":[["75a3e0c8.9585b","feb63a70.687138"]]},{"id":"75a3e0c8.9585b","type":"http request","z":"6e4e7309.81165c","name":"Fletcher Travel Time","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/distancematrix/json?origins=18+Forest+Drive+Lonehill&destinations=3012+william+Nicol+Drive+Bryanston&key={{secret}}&mode=driving","tls":"","proxy":"","x":504,"y":263,"wires":[["a38edac9.6852f8","d7d6cc3a.f3411"]]},{"id":"3b4abb08.ef19e4","type":"switch","z":"8c3854a8.1ec5c8","name":"","property":"StartupDelay","propertyType":"global","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":120,"wires":[[],["66ff4b09.c97e84"]]},{"id":"66ff4b09.c97e84","type":"delay","z":"8c3854a8.1ec5c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":180,"wires":[["3b4abb08.ef19e4"]]},{"id":"9b33cb8d.70f6c8","type":"delay","z":"8c3854a8.1ec5c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":120,"wires":[["3b4abb08.ef19e4"]]},{"id":"d679ca69.a5eff8","type":"mqtt in","z":"247a7db4.488d62","name":"OwnTracks","topic":"owntracks/+/+","qos":"2","datatype":"auto","broker":"66726911.b76f98","x":100,"y":220,"wires":[["19de6bc8.135374"]]},{"id":"2456d521.b9e6fa","type":"json","z":"247a7db4.488d62","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["3a89732c.33e0dc"]]},{"id":"3a89732c.33e0dc","type":"function","z":"247a7db4.488d62","name":"Parse","func":"if (msg.payload._type === \"location\")\n{\n//    var date = new Date(parseInt(msg.payload.tst) * 1000);\n    \n    msg.payload.data = {\n        \"battery\" : parseInt(msg.payload.batt),\n        \"dev_id\" : msg.topic.replace(/\\/|-/g, \"_\").toLowerCase(),\n        \"gps\" : [parseFloat(msg.payload.lat),parseFloat(msg.payload.lon)],\n        \"gps_accuracy\" : msg.payload.acc\n    };\n    msg.timestamp = msg.payload.tst;\n}\nelse\n    msg = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["168ca38f.8671fc"]]},{"id":"2f3f7007.462dd","type":"switch","z":"247a7db4.488d62","name":"At Home?","property":"location.inarea","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":220,"wires":[["ed3c34.610fd3d"],["3662be20.6c7fc2","53657ae0.e1e554"]]},{"id":"3662be20.6c7fc2","type":"change","z":"247a7db4.488d62","name":"Home","rules":[{"t":"set","p":"payload.data.location_name","pt":"msg","to":"home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":240,"wires":[["c0e92bed.0c7bd8","3aa1a5f6.11028a"]]},{"id":"ed3c34.610fd3d","type":"change","z":"247a7db4.488d62","name":"Away","rules":[{"t":"set","p":"payload.data.location_name","pt":"msg","to":"not_home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[["3aa1a5f6.11028a","c0e92bed.0c7bd8","d3c2f4af.3d9fc8"]]},{"id":"c0e92bed.0c7bd8","type":"debug","z":"247a7db4.488d62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":200,"wires":[]},{"id":"3aa1a5f6.11028a","type":"api-call-service","z":"247a7db4.488d62","name":"Update device_tracker","server":"d92dbfd6.bd189","service_domain":"device_tracker","service":"see","data":"","mergecontext":"","x":1120,"y":240,"wires":[[]]},{"id":"19de6bc8.135374","type":"subflow:8c3854a8.1ec5c8","z":"247a7db4.488d62","name":"","x":260,"y":220,"wires":[["2456d521.b9e6fa"]]},{"id":"53657ae0.e1e554","type":"api-current-state","z":"247a7db4.488d62","name":"Recent Door Activity?","server":"d92dbfd6.bd189","outputs":1,"halt_if":"","override_topic":false,"entity_id":"input_boolean.door_activity","override_payload":true,"override_data":true,"x":940,"y":320,"wires":[["d72f7d3b.51632","1a2c4c63.6126f4"]]},{"id":"d72f7d3b.51632","type":"switch","z":"247a7db4.488d62","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1140,"y":320,"wires":[["d3c2f4af.3d9fc8"],["7c4518f1.d4e128"]]},{"id":"d3c2f4af.3d9fc8","type":"function","z":"247a7db4.488d62","name":"OwnTracks variable","func":"distance = parseInt(msg.location.distances.Home);\ninterval = parseInt(0.000000000000475 * Math.pow(distance,4) - 0.00000000475 * Math.pow(distance,3) + 0.0000265 * Math.pow(distance,2) + 0.0037 * distance + 1.43);\ndev_id = msg.topic.replace(/\\/|-/g, \"_\").toLowerCase();\n\nif (interval < 3) interval = 3;\nif (interval > 300) interval = 300;\n\nlastInterval = flow.get(dev_id + '_last_owntracks_interval');\nlastTimestamp = flow.get(dev_id + '_last_owntracks_timestamp');\n\nvar temp = new Date(parseInt(msg.timestamp) * 1000);\nnode.status({fill: \"green\", shape: \"dot\", text: interval + \" at \" + temp.toLocaleString()});\n\nif (typeof(lastInterval) != \"undefined\")\n{\n\tif ((msg.timestamp - 3600) < lastTimestamp) // less than 1 hour since last update?\n\t{\n\t\tif (lastInterval > (interval / 1.05) && lastInterval < (interval * 1.05)) // within 5% of last update?\n        {\n            node.status({fill: \"red\", shape: \"ring\", text: interval + \" at \" + temp.toLocaleString()});\n            msg = null;\n        }\n        else\n\t\t{\n            node.status({fill: \"green\", shape: \"dot\", text: msg.timestamp + \" versus \" + lastTimestamp});\n            flow.set('_last_owntracks_interval', interval);\n            flow.set('_last_owntracks_timestamp', msg.timestamp);\n\n            msg.topic = msg.topic + \"/cmd\";\n            msg.payload = {\n                \"_type\" : \"cmd\",\n                \"action\" : \"setConfiguration\",\n                \"configuration\" : {\n                    \"_type\" : \"configuration\",\n                    \"beaconMode\" : 2,\n                    \"locatorDisplacement\" : interval * 2,\n                    \"locatorInterval\" : interval,\n                    \"pub\" : \"true\",\n                    \"pubQos\" : 2\n                }\n            };\n        }\n    }\n    else\n    {\n        flow.set(dev_id + '_last_owntracks_interval', interval);\n        flow.set(dev_id + '_last_owntracks_timestamp', msg.timestamp);\n\n        msg.topic = msg.topic + \"/cmd\";\n        msg.payload = {\n            \"_type\" : \"cmd\",\n            \"action\" : \"setConfiguration\",\n            \"configuration\" : {\n                \"_type\" : \"configuration\",\n                \"beaconMode\" : 2,\n                \"locatorDisplacement\" : interval * 2,\n                \"locatorInterval\" : interval,\n                \"pub\" : \"true\",\n                \"pubQos\" : 2\n            }\n        };\n    }\n}\nelse\n{\n    flow.set(dev_id + '_last_owntracks_interval', interval);\n    flow.set(dev_id + '_last_owntracks_timestamp', msg.timestamp);\n\n    msg.topic = msg.topic + \"/cmd\";\n    msg.payload = {\n        \"_type\" : \"cmd\",\n        \"action\" : \"setConfiguration\",\n        \"configuration\" : {\n            \"_type\" : \"configuration\",\n            \"beaconMode\" : 2,\n            \"locatorDisplacement\" : interval * 2,\n            \"locatorInterval\" : interval,\n            \"pub\" : \"true\",\n            \"pubQos\" : 2\n        }\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":300,"wires":[["91909a7c.9cb358","7b34452e.482e8c"]]},{"id":"7c4518f1.d4e128","type":"function","z":"247a7db4.488d62","name":"OwnTracks 120sec","func":"var timestamp = new Date(parseInt(msg.timestamp) * 1000);\nnode.status({fill: \"green\", shape: \"dot\", text: 120 + \" at \" + timestamp.toLocaleString()});\ndev_id = msg.topic.replace(/\\/|-/g, \"_\").toLowerCase();\n\nflow.set(dev_id + '_last_owntracks_timestamp', msg.timestamp);\nflow.set(dev_id + '_last_owntracks_interval', 120);\n\nmsg.topic = msg.topic + \"/cmd\";\nmsg.payload = {\n    \"_type\" : \"cmd\",\n    \"action\" : \"setConfiguration\",\n    \"configuration\" : {\n        \"_type\" : \"configuration\",\n        \"beaconMode\" : 2,\n        \"locatorDisplacement\" : 50,\n        \"locatorInterval\" : 120,\n        \"pub\" : \"true\",\n        \"pubQos\" : 2\n    }\n};\n// beaconMode was 0\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":360,"wires":[["7b34452e.482e8c","91909a7c.9cb358"]]},{"id":"91909a7c.9cb358","type":"mqtt out","z":"247a7db4.488d62","name":"","topic":"","qos":"2","retain":"false","broker":"66726911.b76f98","x":1510,"y":340,"wires":[]},{"id":"7b34452e.482e8c","type":"debug","z":"247a7db4.488d62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":300,"wires":[]},{"id":"5025b575.b2191c","type":"comment","z":"247a7db4.488d62","name":"Note: override topic is OFF","info":"","x":930,"y":360,"wires":[]},{"id":"1a2c4c63.6126f4","type":"debug","z":"247a7db4.488d62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":360,"wires":[]},{"id":"168ca38f.8671fc","type":"geofence","z":"247a7db4.488d62","name":"Home","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":0.470799056043745,"longitude":40.95746326446533},{"latitude":0.47222352757142,"longitude":40.95632600784302},{"latitude":0.4736796205139,"longitude":40.95759201049805},{"latitude":0.4736796205139,"longitude":40.96282768249512},{"latitude":0.47220770028812,"longitude":40.96387910842896},{"latitude":0.47083071131877,"longitude":40.96278476715088}],"centre":{},"x":650,"y":220,"wires":[["2f3f7007.462dd"]]}]