flow.json
[{"id":"6e4e7309.81165c","type":"tab","label":"Google API Testing","disabled":false,"info":""},{"id":"feb63a70.687138","type":"http request","z":"6e4e7309.81165c","name":"Karien Travel Time","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/distancematrix/json?origins=18+Forest+Drive+Lonehill&destinations=Cambridge+Commercial+Park&key={{secret}}&mode=driving","tls":"","proxy":"","x":500,"y":191,"wires":[["b794425b.97b8b","a38edac9.6852f8"]]},{"id":"39bd73db.ff4c8c","type":"inject","z":"6e4e7309.81165c","name":"","topic":"1","payload":"test","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":106,"y":245,"wires":[["c670b0d9.3c224"]]},{"id":"a38edac9.6852f8","type":"debug","z":"6e4e7309.81165c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1203,"y":397,"wires":[]},{"id":"b794425b.97b8b","type":"switch","z":"6e4e7309.81165c","name":"RAG scale","property":"payload.rows[0].elements[0].duration.text","propertyType":"msg","rules":[{"t":"lte","v":"11 mins","vt":"str"},{"t":"btwn","v":"12 mins","vt":"num","v2":"20 mins","v2t":"num"},{"t":"gt","v":"20 mins","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":709,"y":98,"wires":[["7d2760d2.febd6"],[],[]]},{"id":"7d2760d2.febd6","type":"function","z":"6e4e7309.81165c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":883,"y":117,"wires":[[]]},{"id":"d7d6cc3a.f3411","type":"switch","z":"6e4e7309.81165c","name":"RAG scale","property":"payload.rows[0].elements[0].duration.text","propertyType":"msg","rules":[{"t":"lte","v":"8 mins","vt":"str"},{"t":"btwn","v":"9 mins","vt":"num","v2":"12 mins","v2t":"num"},{"t":"gt","v":"12 mins","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":737,"y":351,"wires":[[],[],[]]},{"id":"c670b0d9.3c224","type":"secret","z":"6e4e7309.81165c","name":"Google API Key","x":307,"y":245,"wires":[["75a3e0c8.9585b","feb63a70.687138"]]},{"id":"75a3e0c8.9585b","type":"http request","z":"6e4e7309.81165c","name":"Fletcher Travel Time","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/distancematrix/json?origins=18+Forest+Drive+Lonehill&destinations=3012+william+Nicol+Drive+Bryanston&key={{secret}}&mode=driving","tls":"","proxy":"","x":504,"y":263,"wires":[["a38edac9.6852f8","d7d6cc3a.f3411"]]}]