flow.json
[{"id":"6e4e7309.81165c","type":"tab","label":"Google API Testing","disabled":false,"info":""},{"id":"247a7db4.488d62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"690339e0.145a08","type":"tab","label":"Owntracks Tracker","disabled":false,"info":""},{"id":"eddcae95.aa2d6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"15c157a1.27c788","type":"tab","label":"Alexa Testing","disabled":false,"info":""},{"id":"95334549.408f08","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"d58c58f8.8219f8","type":"tab","label":"Telemetry","disabled":true,"info":""},{"id":"8c3854a8.1ec5c8","type":"subflow","name":"Startup Delay","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"9b33cb8d.70f6c8"}]}],"out":[{"x":480,"y":120,"wires":[{"id":"3b4abb08.ef19e4","port":0}]}]},{"id":"66726911.b76f98","type":"mqtt-broker","z":"","name":"Mosquitto - Whale","broker":"192.168.1.41","port":"1883","clientid":"Node-RED-Dev","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d92dbfd6.bd189","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"abc5f2b.6bde21","type":"server","z":"","name":"Home Assistant - DeathStar","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"c7133ef8.0c957","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"2721813.ded8e7e","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"6eb36010.171f5","type":"mqtt-broker","z":"","name":"unRaid-MQTT","broker":"192.168.1.4","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"beb2d5b5.e9a6f8","type":"influxdb","z":"","hostname":"192.168.1.4","port":"8086","protocol":"http","database":"telemetry","name":"","usetls":false,"tls":""},{"id":"60641eba.4e311","type":"mongodb","z":"d58c58f8.8219f8","hostname":"192.168.1.4","port":"27017","db":"node-red","name":""},{"id":"feb63a70.687138","type":"http request","z":"6e4e7309.81165c","name":"Karien Travel Time","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/distancematrix/json?origins=18+Forest+Drive+Lonehill&destinations=Cambridge+Commercial+Park&key={{secret}}&mode=driving&traffic_model=pessimistic&departure_time=now","tls":"","proxy":"","x":470,"y":240,"wires":[["b794425b.97b8b"]]},{"id":"39bd73db.ff4c8c","type":"inject","z":"6e4e7309.81165c","name":"","topic":"1","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["253083b6.febbcc"]]},{"id":"b794425b.97b8b","type":"switch","z":"6e4e7309.81165c","name":"RAG scale","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"11 mins","vt":"str"},{"t":"btwn","v":"12 mins","vt":"str","v2":"20 mins","v2t":"str"},{"t":"gt","v":"20 mins","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":200,"wires":[["7d2760d2.febd6"],["82631610.583b78"],["5ac48bb7.fde664"]]},{"id":"7d2760d2.febd6","type":"function","z":"6e4e7309.81165c","name":"kk - green","func":"msg.payload = 'travel time is ' + msg.payload.rows[0].elements[0].duration_in_traffic.text;\nmsg.topic ='karien'\nmsg.mqtttopictext = 'tele/travel/' + msg.topic\nmsg.led = 'green'\nmsg.mqtttopicled = 'tele/travel/' + msg.topic + '/led/'\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":120,"wires":[["e6223a2b.130d28","f9a2bf40.e17e2"]]},{"id":"d7d6cc3a.f3411","type":"switch","z":"6e4e7309.81165c","name":"RAG scale","property":"payload.rows[0].elements[0].duration_in_traffic.text","propertyType":"msg","rules":[{"t":"lte","v":"8 mins","vt":"str"},{"t":"btwn","v":"9 mins","vt":"str","v2":"12 mins","v2t":"str"},{"t":"gt","v":"12 mins","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":320,"wires":[["80822b2b.0ebc18"],["ffbc4453.ac9408"],["30c8eb76.72fa54"]]},{"id":"75a3e0c8.9585b","type":"http request","z":"6e4e7309.81165c","name":"Fletcher Travel Time","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/distancematrix/json?origins=18+Forest+Drive+Lonehill&destinations=3012+william+Nicol+Drive+Bryanston&key={{secret}}&mode=driving&traffic_model=pessimistic&departure_time=now","tls":"","proxy":"","x":480,"y":280,"wires":[["d7d6cc3a.f3411"]]},{"id":"3b4abb08.ef19e4","type":"switch","z":"8c3854a8.1ec5c8","name":"","property":"StartupDelay","propertyType":"global","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":120,"wires":[[],["66ff4b09.c97e84"]]},{"id":"66ff4b09.c97e84","type":"delay","z":"8c3854a8.1ec5c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":180,"wires":[["3b4abb08.ef19e4"]]},{"id":"9b33cb8d.70f6c8","type":"delay","z":"8c3854a8.1ec5c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":120,"wires":[["3b4abb08.ef19e4"]]},{"id":"d679ca69.a5eff8","type":"mqtt in","z":"247a7db4.488d62","name":"OwnTracks","topic":"owntracks/+/+","qos":"2","datatype":"auto","broker":"66726911.b76f98","x":100,"y":220,"wires":[["19de6bc8.135374"]]},{"id":"2456d521.b9e6fa","type":"json","z":"247a7db4.488d62","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["3a89732c.33e0dc"]]},{"id":"3a89732c.33e0dc","type":"function","z":"247a7db4.488d62","name":"Parse","func":"if (msg.payload._type === \"location\")\n{\n//    var date = new Date(parseInt(msg.payload.tst) * 1000);\n    \n    msg.payload.data = {\n        \"battery\" : parseInt(msg.payload.batt),\n        \"dev_id\" : msg.topic.replace(/\\/|-/g, \"_\").toLowerCase(),\n        \"gps\" : [parseFloat(msg.payload.lat),parseFloat(msg.payload.lon)],\n        \"gps_accuracy\" : msg.payload.acc\n    };\n    msg.timestamp = msg.payload.tst;\n}\nelse\n    msg = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["168ca38f.8671fc"]]},{"id":"2f3f7007.462dd","type":"switch","z":"247a7db4.488d62","name":"At Home?","property":"location.inarea","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":220,"wires":[["ed3c34.610fd3d"],["3662be20.6c7fc2","53657ae0.e1e554"]]},{"id":"3662be20.6c7fc2","type":"change","z":"247a7db4.488d62","name":"Home","rules":[{"t":"set","p":"payload.data.location_name","pt":"msg","to":"home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":240,"wires":[["c0e92bed.0c7bd8","3aa1a5f6.11028a"]]},{"id":"ed3c34.610fd3d","type":"change","z":"247a7db4.488d62","name":"Away","rules":[{"t":"set","p":"payload.data.location_name","pt":"msg","to":"not_home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[["3aa1a5f6.11028a","c0e92bed.0c7bd8","d3c2f4af.3d9fc8"]]},{"id":"c0e92bed.0c7bd8","type":"debug","z":"247a7db4.488d62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":200,"wires":[]},{"id":"3aa1a5f6.11028a","type":"api-call-service","z":"247a7db4.488d62","name":"Update device_tracker","server":"d92dbfd6.bd189","service_domain":"device_tracker","service":"see","data":"","mergecontext":"","x":1120,"y":240,"wires":[[]]},{"id":"19de6bc8.135374","type":"subflow:8c3854a8.1ec5c8","z":"247a7db4.488d62","name":"","env":[],"x":260,"y":220,"wires":[["2456d521.b9e6fa"]]},{"id":"53657ae0.e1e554","type":"api-current-state","z":"247a7db4.488d62","name":"Recent Door Activity?","server":"d92dbfd6.bd189","outputs":1,"halt_if":"","override_topic":false,"entity_id":"input_boolean.door_activity","override_payload":true,"override_data":true,"x":940,"y":320,"wires":[["d72f7d3b.51632","1a2c4c63.6126f4"]]},{"id":"d72f7d3b.51632","type":"switch","z":"247a7db4.488d62","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1140,"y":320,"wires":[["d3c2f4af.3d9fc8"],["7c4518f1.d4e128"]]},{"id":"d3c2f4af.3d9fc8","type":"function","z":"247a7db4.488d62","name":"OwnTracks variable","func":"distance = parseInt(msg.location.distances.Home);\ninterval = parseInt(0.000000000000475 * Math.pow(distance,4) - 0.00000000475 * Math.pow(distance,3) + 0.0000265 * Math.pow(distance,2) + 0.0037 * distance + 1.43);\ndev_id = msg.topic.replace(/\\/|-/g, \"_\").toLowerCase();\n\nif (interval < 3) interval = 3;\nif (interval > 300) interval = 300;\n\nlastInterval = flow.get(dev_id + '_last_owntracks_interval');\nlastTimestamp = flow.get(dev_id + '_last_owntracks_timestamp');\n\nvar temp = new Date(parseInt(msg.timestamp) * 1000);\nnode.status({fill: \"green\", shape: \"dot\", text: interval + \" at \" + temp.toLocaleString()});\n\nif (typeof(lastInterval) != \"undefined\")\n{\n\tif ((msg.timestamp - 3600) < lastTimestamp) // less than 1 hour since last update?\n\t{\n\t\tif (lastInterval > (interval / 1.05) && lastInterval < (interval * 1.05)) // within 5% of last update?\n        {\n            node.status({fill: \"red\", shape: \"ring\", text: interval + \" at \" + temp.toLocaleString()});\n            msg = null;\n        }\n        else\n\t\t{\n            node.status({fill: \"green\", shape: \"dot\", text: msg.timestamp + \" versus \" + lastTimestamp});\n            flow.set('_last_owntracks_interval', interval);\n            flow.set('_last_owntracks_timestamp', msg.timestamp);\n\n            msg.topic = msg.topic + \"/cmd\";\n            msg.payload = {\n                \"_type\" : \"cmd\",\n                \"action\" : \"setConfiguration\",\n                \"configuration\" : {\n                    \"_type\" : \"configuration\",\n                    \"beaconMode\" : 2,\n                    \"locatorDisplacement\" : interval * 2,\n                    \"locatorInterval\" : interval,\n                    \"pub\" : \"true\",\n                    \"pubQos\" : 2\n                }\n            };\n        }\n    }\n    else\n    {\n        flow.set(dev_id + '_last_owntracks_interval', interval);\n        flow.set(dev_id + '_last_owntracks_timestamp', msg.timestamp);\n\n        msg.topic = msg.topic + \"/cmd\";\n        msg.payload = {\n            \"_type\" : \"cmd\",\n            \"action\" : \"setConfiguration\",\n            \"configuration\" : {\n                \"_type\" : \"configuration\",\n                \"beaconMode\" : 2,\n                \"locatorDisplacement\" : interval * 2,\n                \"locatorInterval\" : interval,\n                \"pub\" : \"true\",\n                \"pubQos\" : 2\n            }\n        };\n    }\n}\nelse\n{\n    flow.set(dev_id + '_last_owntracks_interval', interval);\n    flow.set(dev_id + '_last_owntracks_timestamp', msg.timestamp);\n\n    msg.topic = msg.topic + \"/cmd\";\n    msg.payload = {\n        \"_type\" : \"cmd\",\n        \"action\" : \"setConfiguration\",\n        \"configuration\" : {\n            \"_type\" : \"configuration\",\n            \"beaconMode\" : 2,\n            \"locatorDisplacement\" : interval * 2,\n            \"locatorInterval\" : interval,\n            \"pub\" : \"true\",\n            \"pubQos\" : 2\n        }\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":300,"wires":[["91909a7c.9cb358","7b34452e.482e8c"]]},{"id":"7c4518f1.d4e128","type":"function","z":"247a7db4.488d62","name":"OwnTracks 120sec","func":"var timestamp = new Date(parseInt(msg.timestamp) * 1000);\nnode.status({fill: \"green\", shape: \"dot\", text: 120 + \" at \" + timestamp.toLocaleString()});\ndev_id = msg.topic.replace(/\\/|-/g, \"_\").toLowerCase();\n\nflow.set(dev_id + '_last_owntracks_timestamp', msg.timestamp);\nflow.set(dev_id + '_last_owntracks_interval', 120);\n\nmsg.topic = msg.topic + \"/cmd\";\nmsg.payload = {\n    \"_type\" : \"cmd\",\n    \"action\" : \"setConfiguration\",\n    \"configuration\" : {\n        \"_type\" : \"configuration\",\n        \"beaconMode\" : 2,\n        \"locatorDisplacement\" : 50,\n        \"locatorInterval\" : 120,\n        \"pub\" : \"true\",\n        \"pubQos\" : 2\n    }\n};\n// beaconMode was 0\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":360,"wires":[["7b34452e.482e8c","91909a7c.9cb358"]]},{"id":"91909a7c.9cb358","type":"mqtt out","z":"247a7db4.488d62","name":"","topic":"","qos":"2","retain":"false","broker":"66726911.b76f98","x":1510,"y":340,"wires":[]},{"id":"7b34452e.482e8c","type":"debug","z":"247a7db4.488d62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":300,"wires":[]},{"id":"5025b575.b2191c","type":"comment","z":"247a7db4.488d62","name":"Note: override topic is OFF","info":"","x":930,"y":360,"wires":[]},{"id":"1a2c4c63.6126f4","type":"debug","z":"247a7db4.488d62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":360,"wires":[]},{"id":"168ca38f.8671fc","type":"geofence","z":"247a7db4.488d62","name":"Home","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":0.470799056043745,"longitude":40.95746326446533},{"latitude":0.47222352757142,"longitude":40.95632600784302},{"latitude":0.4736796205139,"longitude":40.95759201049805},{"latitude":0.4736796205139,"longitude":40.96282768249512},{"latitude":0.47220770028812,"longitude":40.96387910842896},{"latitude":0.47083071131877,"longitude":40.96278476715088}],"centre":{},"x":650,"y":220,"wires":[["2f3f7007.462dd"]]},{"id":"28eff82f.ca78b8","type":"server-state-changed","z":"690339e0.145a08","name":"owntracks - fk_s9_2","server":"abc5f2b.6bde21","version":1,"entityidfilter":"device_tracker.fk_fsksg9","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":220,"wires":[["fe3bbea7.0d5d6","9410eb33.646268"]]},{"id":"114de7e4.3e35a8","type":"debug","z":"690339e0.145a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":80,"wires":[]},{"id":"c7104eaf.bb384","type":"comment","z":"690339e0.145a08","name":"Track FK S9 OwnTracks","info":"","x":150,"y":180,"wires":[]},{"id":"9d234afc.ff0698","type":"secret","z":"eddcae95.aa2d6","name":"IFTTT API Key","x":400,"y":260,"wires":[["45c311e4.b3ef6"]]},{"id":"45c311e4.b3ef6","type":"template","z":"eddcae95.aa2d6","name":"Set msg.url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://maker.ifttt.com/trigger/doorbell/with/key/{{secret}}","x":510,"y":320,"wires":[["cd2b4da9.7683d","5c498709.f71758"]]},{"id":"5c498709.f71758","type":"http request","z":"eddcae95.aa2d6","name":"IFTTT","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":670,"y":340,"wires":[[]]},{"id":"cd2b4da9.7683d","type":"debug","z":"eddcae95.aa2d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":300,"wires":[]},{"id":"eaef44f7.309e58","type":"inject","z":"eddcae95.aa2d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":200,"wires":[["9d234afc.ff0698"]]},{"id":"2cc6e2d8.58622e","type":"switch","z":"690339e0.145a08","name":"Check if state has actually changed","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"neq","v":"data.new_state.state","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":120,"wires":[["114de7e4.3e35a8"]]},{"id":"fe3bbea7.0d5d6","type":"switch","z":"690339e0.145a08","name":"Home? or Not Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":220,"wires":[["2cc6e2d8.58622e"],["e5e844b8.4a7478","545cbe7d.2f528"]]},{"id":"e5e844b8.4a7478","type":"switch","z":"690339e0.145a08","name":"Check if state has actually changed","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"neq","v":"data.new_state.state","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":340,"wires":[["263a43f6.68bdfc"]]},{"id":"263a43f6.68bdfc","type":"debug","z":"690339e0.145a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":300,"wires":[]},{"id":"9410eb33.646268","type":"debug","z":"690339e0.145a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":340,"wires":[]},{"id":"545cbe7d.2f528","type":"debug","z":"690339e0.145a08","name":"nothomedebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":220,"wires":[]},{"id":"363494c0.c247ac","type":"pushover","z":"6e4e7309.81165c","name":"","device":"","title":"Travel Time","priority":0,"sound":"","url":"","url_title":"","html":false,"x":1390,"y":240,"wires":[]},{"id":"80822b2b.0ebc18","type":"function","z":"6e4e7309.81165c","name":"fk - green","func":"msg.payload = 'travel time is ' + msg.payload.rows[0].elements[0].duration_in_traffic.text;\nmsg.topic ='fletcher'\nmsg.mqtttopictext = 'tele/travel/' + msg.topic\nmsg.led = 'green'\nmsg.mqtttopicled = 'tele/travel/' + msg.topic + '/led/'\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":320,"wires":[["77e84e5f.cac4f","2c2befab.60d54"]]},{"id":"e78056ed.d2c348","type":"api-call-service","z":"15c157a1.27c788","name":"Alexa Plus - Fletcher is home","server":"abc5f2b.6bde21","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.fletcher_s_echo_plus\",\"message\":\"{{payload.message}}\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":260,"wires":[[]]},{"id":"e09804ce.b2c8e8","type":"inject","z":"15c157a1.27c788","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["e811d255.7c29d","8727ab18.ed3a88"]]},{"id":"8727ab18.ed3a88","type":"function","z":"15c157a1.27c788","name":"create \"fletcher\" message","func":"var name = 'Fletcher';\n\nmsg.payload = { \n    message: name + ' is home',\n};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["e78056ed.d2c348"]]},{"id":"a317812d.8fab6","type":"api-call-service","z":"15c157a1.27c788","name":"Alexa Plus - Fletcher is home","server":"abc5f2b.6bde21","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.fletcher_s_echo_plus\",\"message\":\"{{payload.message}}\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":320,"wires":[[]]},{"id":"e811d255.7c29d","type":"function","z":"15c157a1.27c788","name":"create Karien Message","func":"var name = 'Karien';\nmsg.payload = { \n    message: 'Weclome home ' + name ,\n};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["a317812d.8fab6"]]},{"id":"b3aa40d6.c99f9","type":"switch","z":"95334549.408f08","name":"HOME / NOT HOME","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":220,"wires":[["27c84a0d.495506"],["2db90c5e.f2e6c4"]],"outputLabels":["Fletcher",""]},{"id":"fc784599.17c248","type":"switch","z":"95334549.408f08","name":"HOME / NOT HOME","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":500,"wires":[["3b91f5b.b89f90a"],["63cb3cd9.29a4c4"]],"outputLabels":["Fletcher",null]},{"id":"8e13aa60.5dc868","type":"server-state-changed","z":"95334549.408f08","name":"karien-home-devicetracker","server":"abc5f2b.6bde21","version":1,"entityidfilter":"device_tracker.karien_s_s8","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":500,"wires":[["fc784599.17c248"]]},{"id":"c0ae4fd.b6596b","type":"server-state-changed","z":"95334549.408f08","name":"fletcher-home-devicetracker","server":"abc5f2b.6bde21","version":1,"entityidfilter":"device_tracker.fletcher_s_s9","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":220,"wires":[["b3aa40d6.c99f9"]]},{"id":"cb418d52.19d0d","type":"api-call-service","z":"95334549.408f08","name":"Alexa Plus - Karien is home","server":"abc5f2b.6bde21","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.fletcher_s_echo_plus\",\"message\":\"Welcome home babe!!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":440,"wires":[[]]},{"id":"8c367b1a.45e958","type":"api-call-service","z":"95334549.408f08","name":"Alexa Dot - Fletcher is home","server":"abc5f2b.6bde21","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\" media_player.fletcher_s_echo_dot\",\"message\":\"{{payload.message}}\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":160,"wires":[[]]},{"id":"694d285d.0cade8","type":"api-call-service","z":"95334549.408f08","name":"Alexa - Karien is home","server":"abc5f2b.6bde21","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\" media_player.fletcher_s_echo_dot\",\"message\":\"Welcome home babe!!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":500,"wires":[[]]},{"id":"27c84a0d.495506","type":"function","z":"95334549.408f08","name":"create \"fletcher\" home message","func":"var name = 'Fletcher';\n\nmsg.payload = { \n    message: name + ' is home',\n};\nmsg.topic = 'Presence Tracker'\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["d387f597.672e18","8c367b1a.45e958","14d036c2.d8f819"]]},{"id":"d387f597.672e18","type":"api-call-service","z":"95334549.408f08","name":"Alexa Plus - Fletcher is home","server":"abc5f2b.6bde21","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.fletcher_s_echo_plus\",\"message\":\"{{payload.message}}\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":100,"wires":[[]]},{"id":"2db90c5e.f2e6c4","type":"function","z":"95334549.408f08","name":"create \"fletcher\" away message","func":"var name = 'Fletcher';\n\nmsg.payload = { \n    message: name + ' is away',\n};\nmsg.topic = 'Presence Tracker'\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["14d036c2.d8f819"]]},{"id":"14d036c2.d8f819","type":"change","z":"95334549.408f08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":280,"wires":[["6e9500b0.89b8"]]},{"id":"6e9500b0.89b8","type":"pushover","z":"95334549.408f08","name":"","device":"","title":"","priority":0,"sound":"","url":"","url_title":"","html":false,"x":1120,"y":280,"wires":[]},{"id":"131463a6.8be71c","type":"change","z":"95334549.408f08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":580,"wires":[["8bae1578.74a698"]]},{"id":"8bae1578.74a698","type":"pushover","z":"95334549.408f08","name":"","device":"","title":"","priority":0,"sound":"","url":"","url_title":"","html":false,"x":1180,"y":580,"wires":[]},{"id":"3b91f5b.b89f90a","type":"function","z":"95334549.408f08","name":"create Karien Message","func":"var name = 'Karien';\nmsg.payload = { \n    message: 'Weclome home ' + name ,\n};\nmsg.topic = 'Presence Tracker'\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["131463a6.8be71c","cb418d52.19d0d","694d285d.0cade8"]]},{"id":"63cb3cd9.29a4c4","type":"function","z":"95334549.408f08","name":"create Karien away Message","func":"var name = 'Karien';\nmsg.payload = { \n    message: name + ' is away' ,\n};\nmsg.topic = 'Presence Tracker'\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":640,"wires":[["131463a6.8be71c"]]},{"id":"b0ff6576.7a4728","type":"inject","z":"15c157a1.27c788","name":"","topic":"node-red-tracker","payload":"Test from Node-red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["f35c8f94.5f047"]]},{"id":"f35c8f94.5f047","type":"pushover","z":"15c157a1.27c788","name":"","device":"","title":"","priority":0,"sound":"","url":"","url_title":"","html":false,"x":580,"y":120,"wires":[]},{"id":"31618ae6.532246","type":"comment","z":"15c157a1.27c788","name":"Node-red-contrib-testing","info":"","x":130,"y":80,"wires":[]},{"id":"a7f1c5aa.7b4528","type":"comment","z":"15c157a1.27c788","name":"Alexa testing with Home Assistant service","info":"","x":180,"y":220,"wires":[]},{"id":"253083b6.febbcc","type":"secret","z":"6e4e7309.81165c","name":"secret","x":270,"y":260,"wires":[["feb63a70.687138","75a3e0c8.9585b"]]},{"id":"d60ca853.67e678","type":"mqtt out","z":"6e4e7309.81165c","name":"","topic":"","qos":"","retain":"","broker":"66726911.b76f98","x":1370,"y":120,"wires":[]},{"id":"e6223a2b.130d28","type":"change","z":"6e4e7309.81165c","name":"Travel Time Text","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtttopictext","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":120,"wires":[["d60ca853.67e678"]]},{"id":"77e84e5f.cac4f","type":"change","z":"6e4e7309.81165c","name":"Travel Time Text","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtttopictext","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":320,"wires":[["4926198c.c16bc8"]]},{"id":"4926198c.c16bc8","type":"mqtt out","z":"6e4e7309.81165c","name":"","topic":"","qos":"","retain":"","broker":"66726911.b76f98","x":1370,"y":320,"wires":[]},{"id":"82631610.583b78","type":"function","z":"6e4e7309.81165c","name":"kk - amber","func":"msg.payload = 'travel time is ' + msg.payload.rows[0].elements[0].duration_in_traffic.text;\nmsg.topic ='karien'\nmsg.mqtttopictext = 'tele/travel/' + msg.topic\nmsg.led = 'amber'\nmsg.mqtttopicled = 'tele/travel/' + msg.topic + '/led/'\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":180,"wires":[["e6223a2b.130d28","f9a2bf40.e17e2"]]},{"id":"5ac48bb7.fde664","type":"function","z":"6e4e7309.81165c","name":"kk - red","func":"msg.payload = 'travel time is ' + msg.payload.rows[0].elements[0].duration_in_traffic.text;\nmsg.topic ='karien'\nmsg.mqtttopictext = 'tele/travel/' + msg.topic\nmsg.led = 'red'\nmsg.mqtttopicled = 'tele/travel/' + msg.topic + '/led/'\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":240,"wires":[["f9a2bf40.e17e2","e6223a2b.130d28"]]},{"id":"f9a2bf40.e17e2","type":"change","z":"6e4e7309.81165c","name":"Travel Time Color","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtttopicled","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":240,"wires":[["d60ca853.67e678"]]},{"id":"ffbc4453.ac9408","type":"function","z":"6e4e7309.81165c","name":"fk - amber","func":"msg.payload = 'travel time is ' + msg.payload.rows[0].elements[0].duration_in_traffic.text;\nmsg.topic ='fletcher'\nmsg.mqtttopictext = 'tele/travel/' + msg.topic\nmsg.led = 'amber'\nmsg.mqtttopicled = 'tele/travel/' + msg.topic + '/led/'\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["77e84e5f.cac4f","2c2befab.60d54"]]},{"id":"30c8eb76.72fa54","type":"function","z":"6e4e7309.81165c","name":"fk - red","func":"msg.payload = 'travel time is ' + msg.payload.rows[0].elements[0].duration_in_traffic.text;\nmsg.topic ='fletcher'\nmsg.mqtttopictext = 'tele/travel/' + msg.topic\nmsg.led = 'red'\nmsg.mqtttopicled = 'tele/travel/' + msg.topic + '/led/'\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":440,"wires":[["77e84e5f.cac4f","2c2befab.60d54"]]},{"id":"2c2befab.60d54","type":"change","z":"6e4e7309.81165c","name":"Travel Time Color","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtttopicled","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":440,"wires":[["4926198c.c16bc8"]]},{"id":"7dc1bb08.e935f4","type":"mqtt in","z":"d58c58f8.8219f8","name":"MXChip Telemetry","topic":"tele/mxchip1/#","qos":"0","datatype":"json","broker":"6eb36010.171f5","x":250,"y":360,"wires":[["5b55320.6d00bd","6c425fbc.46415"]]},{"id":"b42e1599.015548","type":"comment","z":"d58c58f8.8219f8","name":"MQTT -> Node-Red -> mongoDB","info":"","x":270,"y":300,"wires":[]},{"id":"6c425fbc.46415","type":"switch","z":"d58c58f8.8219f8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"tele/mxchip1/temp","vt":"str"},{"t":"eq","v":"tele/mxchip1/humidity","vt":"str"},{"t":"eq","v":"pressure","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":400,"wires":[["d06cae10.30a38"],["67c4d1b8.6d37a"],[]]},{"id":"d06cae10.30a38","type":"function","z":"d58c58f8.8219f8","name":"format for influx - temperature","func":"msg.payload ={\n    locale: \"Breakfast-Nook\",\n    temperature: parseFloat(msg.payload)\n}\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":380,"wires":[["cf8492f0.89e8a"]]},{"id":"67c4d1b8.6d37a","type":"function","z":"d58c58f8.8219f8","name":"format for influx - humidity","func":"msg.payload ={\n    locale: \"Breakfast-Nook\",\n    humidity: parseFloat(msg.payload)\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":440,"wires":[["f337d8b6.fc67e8"]]},{"id":"cf8492f0.89e8a","type":"influxdb out","z":"d58c58f8.8219f8","influxdb":"beb2d5b5.e9a6f8","name":"influx insert","measurement":"temperature","precision":"","retentionPolicy":"","x":1210,"y":320,"wires":[]},{"id":"f337d8b6.fc67e8","type":"influxdb out","z":"d58c58f8.8219f8","influxdb":"beb2d5b5.e9a6f8","name":"influx insert","measurement":"humidity","precision":"","retentionPolicy":"","x":1210,"y":480,"wires":[]},{"id":"5b55320.6d00bd","type":"mongodb out","z":"d58c58f8.8219f8","mongodb":"60641eba.4e311","name":"","collection":"MXChip","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":920,"y":260,"wires":[]}]